<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <div class="container-fluid col-10" >
    <a class="navbar-brand" routerLink="/home">Inicio</a>
    <button class="navbar-toggler big-navbar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"  >
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarNav"  >
      <ul class="nav nav-pills">
          <li class="nav-item" >
            <a class="nav-link" aria-current="page" routerLink="/myprojects" routerLinkActive="active">Mis Proyectos</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/myrequests" routerLinkActive="active">Mis solicitudes</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/new-project" routerLinkActive="active">Nuevo proyecto</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/logout/1" routerLinkActive="active">Salir</a>
          </li>
        </ul>
        
    </div>

    <div class="dropdown mt-3 little-navbar" appDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <fa-icon [icon]="faCaretSquareDown"></fa-icon>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
        <li class="nav-item" >
          <a class="nav-link" aria-current="page" routerLink="/myprojects" routerLinkActive="active">Mis Proyectos</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/myrequests" routerLinkActive="active">Mis solicitudes</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/new-project" routerLinkActive="active">Nuevo proyecto</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/logout/1" routerLinkActive="active">Salir</a>
        </li>
      </ul>
    </div>
    <div class="image col-sm-2">
          <a [routerLink]= "['/ajustes']">
            <img src="{{identity.image}}" >
          </a>
        </div>
        <button class="btn btn-warning mx-4" [routerLink]= "['/requests']"><fa-icon [icon]="faBell"></fa-icon></button>
    </div>
</nav>



<div class="col-md-12">
<form class="col-md-5 m-auto pl-0" #projectForm="ngForm" (ngSubmit)= "onSubmit(projectForm)">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" name="name" class="form-control mb-3" #name="ngModel" [(ngModel)]="project.name"  required >

        <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block mb-3">
            El nombre no es valido
        </small>
    </div>

    <div class="form-group">
        <label for="description">Descripcion</label>
        <textarea name="description" class="form-control mb-3" #description="ngModel" [(ngModel)]="project.description"></textarea>

        <small *ngIf="!description.valid && description.touched" class="invalid-feedback d-block mb-3">
            La Descripcion no es valida
        </small>
    </div>

    <div class="form-group">
      <label for="imageUrl">Imagen URL</label>
      <input type="text" name="imageUrl" class="form-control mb-3" #imageUrl="ngModel" [(ngModel)]="project.imageUrl" >
    </div>

  <select class="form-select mb-3"  #category="ngModel" [(ngModel)]="project.category" name="category" required>
    <option value="{{category.id}}" *ngFor="let category of categories" (click)="selectCategory(category.id)">{{category.name}}</option>
  </select>

    

    <input type="submit" value="Subir Proyecto" class="btn btn-success" [disabled]="projectForm.invalid">

</form>
</div>
