<div class="col-md-12">
<h1>Create new project</h1>
<form class="col-md-5 ml-0 pl-0" #projectForm="ngForm" (ngSubmit)= "onSubmit(projectForm)">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="project.name"  required >

        <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
            El nombre no es valido
        </small>
    </div>

    <div class="form-group">
        <label for="description">Descripcion</label>
        <textarea name="description" class="form-control" #description="ngModel" [(ngModel)]="project.description"></textarea>

        <small *ngIf="!description.valid && description.touched" class="invalid-feedback d-block">
            La Descripcion no es valida
        </small>
    </div>

    <input type="submit" value="Subir Proyecto" class="btn btn-success" [disabled]="projectForm.invalid">

</form>
</div>
