<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills">
          <li class="nav-item" >
            <a class="nav-link" aria-current="page" routerLink="/myprojects" routerLinkActive="active">My Projects</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/myrequests" routerLinkActive="active">My requests</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/new-project" routerLinkActive="active">Create new Project</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/logout/1" routerLinkActive="active">Exit</a>
          </li>
        </ul>
        <div class="image">
          <a [routerLink]= "['/ajustes']">
            <img src="{{identity.image}}" >
          </a>
        </div>
        <button class="btn btn-warning mx-4" [routerLink]= "['/requests']"><fa-icon [icon]="faBell"></fa-icon></button>
    </div>
  </div>
</nav>


<div class="games">
    <ng-container *ngFor="let project of projects">
        
        <div class="card m-3" style="width: 18rem;">
          <img src="{{project.imageUrl}}" class="card-img-top" alt="{{project.name}}" *ngIf="project.imageUrl">
          <p *ngIf="!project.imageUrl">No image</p>
          <div class="card-body">
            <h5 class="card-title">{{project.name}}</h5>
            <a class="card-title" [routerLink]= "['/user-detail', identity.sub]">{{identity.name}}</a>
            <p class="card-text">{{project.description}}</p>
            <button class="btn btn-success" (click)="onMatch(project.id)">Match</button>
          </div>
        </div>
    </ng-container>
</div>
 
 <nav aria-label="Page navigation example">
     <ul class="pagination">
       <li class="page-item"><a class="page-link" [routerLink]= "['/home', prev_page]">Previous</a></li>
       <li class="page-item" *ngFor="let num of number_page"><a class="page-link" [routerLink]= "['/home', num]" >{{num}}</a></li>
       
       <li class="page-item"><a class="page-link" [routerLink]= "['/home', next_page]">Next</a></li>
     </ul>
   </nav>
